<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://noloweb.vercel.app/NoLoSay/Apps/NoLoSay.ipa</string>
		<key>displayImageURL</key>
		<string>https://avatars.githubusercontent.com/u/117668974?s=200&amp;amp;v=4</string>
		<key>fullSizeImageURL</key>
		<string>https://avatars.githubusercontent.com/u/117668974?s=200&amp;amp;v=4</string>
	</dict>
	<key>method</key>
	<string>debugging</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.nolosay.nolosayapp</key>
		<string>2025 Nolosay</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Development</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>9478G9T3JY</string>
	<key>thinning</key>
	<string>&lt;thin-for-all-variants&gt;</string>
</dict>
</plist>
