.frameChild,
.frameItem {
  position: relative;
  width: 31.96px;
  height: 29.15px;
}
.frameItem {
  width: 123.58px;
  height: 25.98px;
}
.groupParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 9.46px;
}
.description {
  position: relative;
  display: inline-block;
  width: 502px;
}
.company {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.title {
  position: relative;
}
.column4 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  gap: var(--gap-base);
}
.list6 {
  position: relative;
  display: inline-block;
  width: 130px;
}
.communicationPhone {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.communicationPhoneParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
}
.column4Parent,
.companyParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.column4Parent {
  justify-content: flex-start;
  gap: var(--gap-51xl);
}
.companyParent {
  align-self: stretch;
  justify-content: space-between;
}
.lineIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 2px;
  flex-shrink: 0;
}
.copyrightWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-2xs);
  color: var(--gray-100);
}
.frameParent,
.frameWrapper {
  width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent {
  background-color: var(--gray-300);
  align-items: center;
  padding: var(--padding-51xl) var(--padding-101xl);
  box-sizing: border-box;
  gap: var(--gap-22xl);
}
.frameWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 374px;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--base-white);
  font-family: var(--font-poppins);
}
