.frameChild,
.frameItem {
  position: relative;
  width: 31.96px;
  height: 29.15px;
}
.frameItem {
  width: 123.58px;
  height: 25.98px;
}
.groupParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 9.46px;
}
.quiSommeNous {
  position: relative;
  font-weight: 500;
}
.quiSommeNousParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.jeMeConnecte {
  position: relative;
  text-decoration: underline;
  font-weight: 500;
}
.jeMinscrit {
  position: relative;
  font-weight: 600;
}
.jeMinscritParent {
  border-radius: var(--br-3xs);
  background-color: var(--gray-300);
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
  color: var(--base-white);
}
.hearder,
.jeMeConnecteParent,
.jeMinscritParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.jeMeConnecteParent {
  justify-content: flex-start;
  gap: var(--gap-6xl);
  color: var(--gray-200);
}
.hearder {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--base-white);
  box-shadow: var(--drop-shadow);
  width: 1440px;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-61xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--base-black);
  font-family: var(--font-poppins);
}
