.pourCrerUne {
  margin: 0;
}
.pourCrerUneContainer {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.appuieSur {
  position: relative;
}
.linearEssentionalUiAdd {
  position: relative;
  width: 17px;
  height: 17px;
  overflow: hidden;
  flex-shrink: 0;
}
.puisSlectionneVido {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-poppins);
}
.appuieSurParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.choisiUneOeuvre {
  margin: 0;
  padding-left: var(--padding-xl);
}
.choisiUneOeuvreContainer {
  flex: 1;
  position: relative;
}
.choisiUneOeuvreTraduireWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.vectorIcon {
  position: relative;
  width: 13.2px;
  height: 13.2px;
}
.traduireUneOeuvre {
  position: relative;
  font-weight: 600;
}
.vectorParent {
  border-radius: var(--br-3xs);
  background-color: var(--gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
  font-size: var(--font-size-mini);
  color: var(--base-white);
}
.pourCrerUneVidoRienDeParent {
  width: 467px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--base-black);
  font-family: var(--font-poppins);
}
